<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Push-Ups Logger</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/muscle.ico') }}" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet" />

  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='beauty.css') }}" /> -->

  <!-- Optional Extended CSS -->
  {% block extra_css %}{% endblock %}

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  {% endblock %}
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Push-Ups Logger</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-outline-secondary mr-2" href="{{ url_for('main.user_workouts') }}">All Workouts</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary" href="{{ url_for('main.profile') }}">Account</a>
        </li>
        {% endif %}
      </ul>

      <div class="form-inline my-2 my-lg-0">
        {% if current_user.is_authenticated %}
        <a class="btn btn-outline-primary mr-2" href="{{ url_for('main.new_workout') }}">Add New Workout</a>
        <a class="btn btn-outline-danger" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
        <a class="btn btn-outline-primary mr-2" href="{{ url_for('auth.signup') }}">Signup</a>
        <a class="btn btn-outline-primary" href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <!-- Main Content Block -->
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>

  <!-- Scripts (at end for faster page load) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
